:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
  }
  
 /* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}


  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  /* body,
  input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    color: var(--black);
  } */
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  h3,
  h4 {
    font-weight: 500;
  }
  
  /*
  ======================
  Header
  ======================
  */
  
  .header {
    position: relative;
  }
  
  .container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }



  /* 
  =================
  Navigation
  =================
  */
  .navigation {
    height: 8rem;
    line-height: 6rem;
    background-color: rgb(148, 214, 238);
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .navigation .logo{
      width: 10%;
      height: 8rem;
      /* background-color: rgb(108, 108, 238); */
  }
  .navigation .logo img{
      width: 95px;
      height: 67px;
  }
  .nav-center {
    justify-content: space-between;
  }
  
  .nav-list .icons {
    display: none;
  }
  
  .nav-center .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .nav-center .nav-link {
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .nav-center .nav-link:hover {
    color: var(--green);
  }
  
  .nav-center .hamburger {
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
  }
  
  /* Icons */
  
  .icon {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #555;
    position: relative;
  }
  
  .icon:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .icon span {
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-list {
      position: fixed;
      top: 12%;
      left: -35rem;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 100%;
      width: 0%;
      max-width: 35rem;
      z-index: 100;
      transition: all 300ms ease-in-out;
    }
  
    .nav-list.open {
      left: 0;
      width: 100%;
    }
  
    .nav-list .nav-item {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  
    .nav-list .nav-link {
      font-size: 2rem;
      color: var(--black);
    }
  
    .nav-center .hamburger {
      display: block;
      color: var(--black);
      font-size: 3rem;
    }
  
    .icons {
      display: none;
    }
  
    .nav-list .icons {
      display: flex;
    }
  
    .top-nav ul {
      display: none;
    }
  
    .top-nav div {
      justify-content: center;
      height: 3rem;
    }
  }



  /* Navigation */

  .navigation{
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
  }
  .fix__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1200;
  }
  .navLogo img{
    width: 70%;
    height: 12vh;
  }
  .navHamburger{
    display: none;
    cursor: pointer;
  }
  .navHamburger svg{
    width: 2.3rem;
    height: 2.3rem;
  }
 .menuTop{
  display: none;
 }
 .navMenu{
   width: 50%;
 }
 .navList{
   display: flex;
   align-items: center;
   width: 50%;
   height: 100%;
 }
 .navItem:not(:last-child){
   margin-right: 1.6rem;
    
 }
 .navList .navLink:link,
 .navList .navLink:visited{
   display: inline-block;
   font-size: 1.4rem;
   text-transform: uppercase;
   color: var(--black);
   transition: color .3s ease-in-out;

 }
 .navList .navLink:hover{
   color: var(--orange);
 }
 .navIcons{
   display: flex;
   position: relative;
 }
 .navIcons .itemIcon svg{
    width: 1.6rem;
    height: 1.6rem;
 }
 .navIcons .itemIcon{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .7rem;
   border: 1px solid var(--black);
   border-radius: 50%;
   transition: all .3s ease-in-out;

 }
 .navIcons .itemIcon:not(:last-child){
   margin-right: 1rem;
 }
 .navIcons .itemIcon:link,
 .navIcons .itemIcon:visited{
   color: var(--black);
 }
 .navIcons .itemIcon:hover{
   background-color: var(--orange);
 }
 .navIcons #cartTotal{
   font-size: 1rem;
   position: absolute;
   top: 2px;
   right: -6px;
   background-color: var(--orange);
   padding: .2rem .4rem;
   border-radius: 100%;
   color: var(--primaryColor);

 }

 /* Navigation media query */

 @media only screen and (max-width:768px){
     .navMenu{
       position: fixed;
       top: 0;
       left: -30rem;
       width: 0;
       background-color: var(--white);
       z-index: 9998;
       transition: all .3s ease-in-out;
     }
     .navMenu .open{
       left: 0;
       width: 30rem;
     }
     .navLogo{
       width: 50%;
     }
     .navLogo img{
      width: 30%;
      height: 8vh;
      margin-left: 12rem;
    }
     .navHamburger{
      display: block;
     }
     .menuTop{
       display: flex;
       align-items: center;
       justify-content:space-around;
       background-color: var(--orange);
       padding: 1.8rem 1rem;
  
       
     }
     .menuTop svg{
       width: 1.6rem;
       height: 1.6rem;
       fill: var(--primaryColor);

     }
     .navCategory{
       color: var(--white);
       font-size: 2.3rem;
       font-weight: 700;

     }
     .navList{
       flex-direction: column;
       align-items: flex-start;
       padding: 1.6rem 1rem;
     }
    }
    .navList .navLink:link,
    .navList .navLink:visited{
      padding: 1.6rem 0;
      width: 100%;
      color: var(--grey2);
    }
    body.active::before{
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--black) none no-repeat 0 0;
      z-index: 999;
      opacity: .7;
      transition: .8s;
    }

    @media only screen and (max-width:568px){
      .navIcons .itemIcon{
        padding: .5rem;
      }
      .navIcons .itemIcon svg{
          width: 1.5rem;
          height: 1.5rem;
      }
     
    }
   

    .header {
      position: relative;
      min-height: 100vh;
      overflow-x: hidden;
    }





    /* 
  =================
  Hero Area
  =================
  */
  
  .hero,
  .hero .glide__slides {
    background-color: var(--grey2);
    position: relative;
    height: calc(100vh - 6rem);
    margin: 0 4rem;
    overflow: hidden;
  }
  
  .hero .center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding-top: 3rem;
  }
  
  .hero .left {
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 0;
    transition: all 1000ms ease-in-out;
  }
  
  .hero .left h1 {
    font-size: 5rem;
    margin: 1rem 0;
  }
  
  .hero .left p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .hero .left .hero-btn {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    background-color: var(--green);
    color: white;
  }
  
  .hero .right {
    flex: 0 0 50%;
    height: 100%;
    position: relative;
    text-align: center;
  }
  
  .hero .right img {
    position: absolute;
    width: 55rem;
    opacity: 0;
    transition: all 1000ms ease-in-out;
  }
  
  .center .right img.img1 {
    width: 85%;
    right: -25%;
    bottom: -50%;
  }
  
  .center .right img.img2 {
    width: 90%;
    right: -40%;
    bottom: -50%;
  }

  .center .right img.img3 {
    width: 85%;
    right: -40%;
    bottom: -40%;
  }
  
  .glide__slide--active .center .right .img1 {
    bottom: 10%;
    opacity: 1;
  }
  .glide__slide--active .center .right .img2 {
    bottom: -2%;
    opacity: 1;
  }
  .glide__slide--active .center .right .img3 {
    bottom: -2%;
    opacity: 1;
  }
  
  .glide__slide--active .left {
    opacity: 1;
    top: 35%;
  }
  
  /*
  ======================
  Hero Media Query
  ======================
  */
  @media only screen and (max-width: 999px) {
    .glide__slide--active .left {
      top: 15%;
    }
  
    .center .right img.img1 {
      width: 90%;
    }
  
    .center .right img.img2 {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .center .right img.img1 {
      width: 30rem;
    }
  
    .center .right img.img2 {
      width: 33rem;
    }
  
    .hero,
    .hero .glide__slides {
      margin: 0;
      padding: 0 3rem;
    }
  
    .hero .left h1 {
      font-size: 3rem;
    }
  
    .hero .left span {
      font-size: 1.4rem;
    }
    .hero .left p {
      font-size: 1.5rem;
      width: 80%;
    }
  }




     /* Hero Section */
     .hero, .hero .glide__slides{
      background-color: var(--primaryColor);
      position: relative;
      width: 100%;
      height: 100vh; 
    }
    .hero .glide__bullet{
      background-color: var(--black);
      width: 1.2rem;
      height: 1.2rem;
    }
    .hero .glide__arrow{
      padding: 1.5rem 1.7rem;
      opacity: 0;
      border: none;
      background-color: var(--grey);
      transition: all .5s ease-in-out  0.2s;
    }
    .hero .glide__arrow:hover{
      background-color: var(--black3);
    }
    .hero .glide__arrow--left{
        left: 20rem;
    }
    .hero .glide__arrow--right{
      position: absolute;
      right: 20rem;
   }
   .hero:hover .glide__arrow{
     opacity: 1;
   }
   .hero:hover .glide__arrow--left{
     left: 23rem;
   }
   .hero:hover .glide__arrow--right{
    right: 23rem;
  }
  .hero .glide__arrow svg{
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--primaryColor);
  }
  .hero .heroCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding: 3rem;  
  }
  .hero .heroLeft{
    padding: 0 3rem;
    flex: 0 0 50%;
  }
  .hero .heroBtn{
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primaryColor);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--black);
    transition: all .3s ease-in-out;
  }
  .hero .heroBtn:focus{
    outline: none;
  }
  .hero .heroLeft .heroBtn:hover{
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
  }
  .hero .heroLeft h1{
    margin: 1rem 0;
    
  }
  .hero .heroLeft p{
    margin-bottom: 1rem;
  }
  .hero .heroRight{
    flex: 0 0 50%;
    position: relative;
    text-align: center;
  }
  

  /* Hero section Media Query */

  @media only screen and (max-width:999px){
    .hero .heroCenter{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .hero .heroLeft{
      position: absolute;
      top: 20%;
      padding: 0 1rem;
    }
    .hero .heroRight{
      position: absolute;
      top: 50%;
    }
    .hero .heroRight img{
      width: 55%;
    }
    .hero .heroBtn{
      padding: 1.1rem 2.8rem;
    }
    .hero .glide__arrow{
      display: none;
    }
  }




  /* Main Section */

  /* Collection */
  
  .section{
    padding: 3rem 0;
  }
  .collection{
    margin: 3rem 0;
  }
  .collection__container{
    display:flex; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 1.6rem;
   

  }
  .collection__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex: 0 0 40%;
    height: 30rem;
    background-color: var(--primaryColor);
  }
  .collection__box:not(:last-child){
    margin-right: 1.6rem;
    
  }
  .img__container{
    width: 25rem;
    text-align: center;
  }
  .collection__box img .collection_01{
   width: 60%;
  }
  .collection__box img .collection_02{
    width: 75%;
   }
   .collection__content{
     display: flex;
     flex: 0 0 50%;
     height: 100%;
     align-items: center;
     justify-content: center;
   }
   .collection__content span{
     color: var(--black);
   }
   .collection__content h1{
    margin-top: .5rem;
   }
   .collection__content a:link,
   .collection__content a:visited{
     display: inline-block;
     font-weight: 700;
     padding: 1rem 1.4rem;
     margin-top: 1.3rem;
     color: var(--primaryColor);
     border: 2px solid var(--secondaryColor);
     border-radius: 3rem;
     background-color: var(--secondaryColor);
     transition: all .3s ease-in-out;
     
   }
   .collection__content a:hover{
     background-color: transparent;
     color: var(--secondaryColor);
   }


   /* Main --> Collection Media Query */

   @media only screen and (max-width:999px){
     .collection__container{
       display: flex;
       flex-direction: column;
       width: 80%;
       height: 65rem;
       margin: 0 auto;

      }
      .collection__box{
        width: 100%;
        margin: 0 auto;
      }
      .collection__box:not(:last-child){
        margin: 0 0 1.6rem;
      }
      
   }

   @media only screen and (max-width:568px){
     .collection{
       position: relative;
       margin: 0;
     }
     .collection__container{
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: space-around;
       width: 100%;
       height: 50rem;
     }
     .collection__box{
       justify-content: space-around;
       height: 15rem;
     }
     .collection__content{
       flex: 0 0 30%;
     }
     .collection__data span{
       font-size: 1.2rem;
     }

   }



   /* Latest Products */

   .title__container{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto 6rem;
     padding: 2rem 0;
      background-color: var(--primaryColor);
   }
   .section__title:not(:last-child){
     margin-right: 1.5rem;
   }
   .section__title{
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
   }
   .section__title h1{
     font-size: 1.9rem;
     font-weight: inherit; 
   }
   .section__title .primary__title,
   .section__title:hover span.dot,
   .section__title:hover .primary__title,
   .section__title:hover span.dot::before{
    opacity: 1;
   }
   .section__title .primary__title{
     opacity: 0.6;
     padding-left: 0.5rem;
     transition: opacity .3s ease-in-out;
   }
   .section__titles:not(:last-child){
     margin-right: 1.5rem;
   }
   .section__title span.dot{
     opacity: 0.6;
     padding: .6rem;
     position: relative;
     border: 1px solid var(--black);
     cursor: pointer;
     transition: opacity .3s ease-in-out;
   }
   .section__title span.dot::before{
     content: "" ;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     border: 1px solid var(--black);
     background-color: var(--black);
     margin: 1px;
     opacity: .6;


   }
   .section__title .active span.dot{
     opacity: 1;
   }
   .section__title .active span.dot::before{
     opacity: 1;
   }
   .section__title .active .primary__title{
     opacity: 1;
   }







   .product ul svg{
     width: 1.7rem;
     height: 1.7rem;
     fill: var(--white);
   }
   .product{
    position: relative;
   }
   .product ul{
     display: flex;
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 20%;
     left: 50%;
     width: 17rem;
     height: 5rem;
     background-color: rgba(255,255,255,.5);
     /* opacity: 0; */
     visibility: hidden;
     transform: translate(-50%,-50%) scale(.7);
     transition: all .5s ease-in-out;
  

   }
  
   .product:hover ul{
     opacity: 1;
     visibility: visible;
     transform: translate(-50%,-50%) scale(1);
   }
   .product ul a:not(:last-child){
     margin-right: 1.6rem;
   }
   .product ul a{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--orange);
     width: 3.5rem;
     height: 3.5rem;
     cursor: pointer;
     transition: .5s;
   }
   .product ul a:hover{
     background-color: var(--black);
   }
   .product ul a::before{
     content: '';
     position: absolute;
     top: -0.6rem;
     left: -0.6rem;
     width: 0;
     height: 0;
     border-top: 3px solid var(--orange);
     border-left: 3px solid var(--orange);
     transition: .5s ease-in-out;
     opacity: 0;
     z-index: 1;
   }
   .product ul a::after{
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     right: -0.6rem;
     bottom: -0.6rem;
     border-right: 3px solid var(--orange);
     border-bottom: 3px solid var(--orange);
     z-index: 1;
     opacity: 0;
    transition: 0.5s ease-in-out;
    
    }
    .product ul a:hover::before{
      width: 126%;
      height: 126%;
      border-top: 3px solid var(--orange);
      border-left: 3px solid var(--orange);
      opacity: 1;
      
    }
    .product ul a:hover::after{
      width: 126%;
      height: 126%;
      border-right: 3px solid var(--orange);
      border-bottom: 3px solid var(--orange);
      opacity: 1;
    }

    .product img{
      width: 400px;
      height: 100px;
    }
    .rating svg{
      width: 1.6rem;
      height: 1.6rem;
      fill: var(--yellow);
    }



    /* Media Query */

    @media only screen and (max-width:568px){
      .title__container{
        display: flex;
        flex-direction: column;
      }
      .section__titles:not(:last-child){
        margin: 0 0 1.3rem;
      }
      .product{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 25rem;
      }
      .product__header{
        height: 25rem;
        padding: 0.5rem 0;
        text-align: center;
      }
      .product__header img{
        max-width: 100%;
        max-height: 100%;
      }
      .product__footer{
        padding: 1rem 0;
      }
      .product__footer .product__price{
        padding-bottom: 1rem;
      }
      .product__footer h4{
        padding: 1rem 0;
      }
      .rating svg{
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--yellow);
      }
      .product__btn{
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        padding: 1.4rem 0;
        border: 1px solid var(--black);
        color: var(--black);
        cursor: pointer;
      }
      .product__btn:focus{
        outline: none;
      }
      .product__btn:hover{
        background-color: var(--black);
        color: var(--primaryColor);
      }
      /* .product ul{
        position: absolute;
        top: 24%;
        left: 26%;
      } */
    }



  /* Latest Product Arrow */

  .latest__products .glide__arrow,
  .related__products .glide__arrow{
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    outline: none;
    box-shadow: 0 0.25em .5em rgba(0,0,0,0);
    top: -20%;
    left:80%;
  }
  .latest__products .glide__arrow:hover,
  .related__products .glide__arrow:hover{
    background-color: var(--orange);
    border: 1px solid var(--primaryColor);
  }
  .latest__products .glide__arrow--left,
  .related__products .glide__arrow--left{
    left: 75%;
  }
  .latest__products .glide__arrow--right,
  .related__products .glide__arrow--right{
    right: 5%;
  }
  .latest__products .glide__arrow svg,
  .related__products .glide__arrow svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--grey);
  }



  /* Latest Products Media Query */

  @media only screen and (max-width:999px){
    .product{
      width: 70%;
      margin: 0 auto;
    }
    .product__header{
      height: 25rem;
    }
    .latest__products .glide__arrow,
    .related__products .glide__arrow{
    top: -10%;
    left:80%;
  }
    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left{
      left: 73%;
    }
    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right{
    right: 7%;
  }
  }

  @media only screen and (max-width:768px){
    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left{
      left: 70%;
    }
    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right{
    right: 7%;
  }
  }

  @media only screen and (max-width:568px){
    .product__header{
      height: 20rem;
    }
    /* .product__header img{
      width: 50%;
    } */
    .product .product__footer h3{
      font-size: 1.4rem;
    }
    .latest__products .glide__arrow,
    .related__products .glide__arrow{
    top: -8%;
    left:80%;
  }
    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left{
      left: 68%;
    }
    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right{
    right: 7%;
  }
  .product__btn{
    width: 100%;
    font-size: 1rem;
    border: 1px solid var(--black);
    padding: 0.8rem;

  }
  .product ul{
    top: 25%;
    left: 50%;
    width: 16rem;
    height: 4rem;
  }
  .product ul a{
    width: 2.7rem;
    height: 2.7rem;
  }
  .rating svg{ 
    width: 1.3rem;
    height: 1.3rem;
  }
}


@media only screen and (max-width:460px){
  .product__header{
    height: 12rem;
  }
  .product__footer{
    font-size: 1.2rem;
  }
}



/* Category Section */

.category__center{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem 2rem;
}


/* Category Media Query */

@media only screen and (max-width:999px){
  .category__center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* @media only screen and (max-width:768px){
  .category__center{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */
@media only screen and (max-width:568px){
  .category__center{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product__header{
    height: 10rem;
  }
  .product__header img{
    object-fit: contain;
  }
}





/* PopUP */

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  transition: .3s;
  transform: scale(1);
  z-index: 9999; 
}
.popup__content{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 55rem;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  padding: 1.6rem;
  display:table;
  overflow: hidden;
  background-color: var(--white);
}
.popup__close{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1.5rem;
  background-color: var(--primaryColor);
  border-radius: 50%;
  cursor: pointer;
}
.popup__close svg{
  width: 1.7rem;
  height: 1.7rem;
  vertical-align: middle;
}
.popup__left{
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}
.popup__right{
  display: table-cell;
  width: 50%;
  /* height: 100%; */
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img__container{
  width: 100%;
  overflow: hidden;
}
.popup__img__container img.popup__img{
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.right__content{
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.right__content h1{
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}
.right__content h1 span{
  color: var(--green);
}
.right__content p {
  font-size: 1.8rem;
  color: var(--grey2);
  margin-bottom: 1.6rem;
}
.popup__form{
  width: 100%;
  padding: 2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--primaryColor);
}
.popup__form:focus{
  outline: none;
}
.right__content a:link,
.right__content a:visited{
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--grey2);
  transition: .3s;
}
.right__content a:hover{
  background-color: var(--green);
  border:1px solid var(--grey2);
  color: var(--black);
}
.hide__popup{
  visibility: hidden;
  opacity: 0;
  transform: scale(.2);
}




/* Go To */

.goto-top:link,
.goto-top:visited{
  position:fixed;
  right:2%;
  bottom:10%;
  padding: .8rem 1.4rem;
  border-radius: 1rem;
  background-color: var(--orange);
  /* visibility: hidden; */
  cursor: pointer;
  transition:.3s;
  animation: bounce 2s ease-in-out infinite;
  
}
.goto-top svg{
  width: 1.3rem;
  height: 1.3rem;
  fill: var(--white);
}
.goto-top:hover{
  background-color: var(--black4);
}
.show-top:link,
.show-top:visited{
  visibility: visible;
  z-index: 1999;
}

@keyframes bounce {
  0%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(1.5);
  }
  0%{
    transform: scale(1);
  }
}



/* Pop Up Media Query */


@media only screen and (max-width: 1200px){
  .right__content{
    width: 100%;
  }
  .right__content h1{
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 999px){
  .popup__right{
    width: 100%;
  }
  .popup__left{
    display: none;
  }
}

@media only screen and (max-width:768px){
  .right__content h1{
    font-size: 4rem;
  }
  .right__content p{
    font-size: 1.6rem;
  }
  .popup__form{
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .show-top:link,
  .show-top:visited{
  right: 5%;
  bottom: 5%;
}
  
}

@media only screen and (max-width:568px){
  .popup__right{
    padding: 0 1.6rem;
  }
  .right__content{
    width: 100%;
  }
  .popup__content{
    width: 90%;
    height: 35rem;
    margin: 0 auto;
  }
  .right__content h1{
    font-size: 3rem;
  }
  .right__content p{
    font-size: 1.4rem;
  }
  .popup__form{
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }
  .right__content a:link,
  .right__content a:visited{
    padding-left: 1.5rem 3rem;
  }
  .popup__close{
    top: 1rem;
    right: 1rem;
    padding: 1.3rem;
  }
  .popup__close svg{
    width: 1.4rem;
    height: 1.4rem;
  }
}